#countries {
    width: 300px;
}

.logout_form {
    display: none;
}

.table-width {
    width:100%;
}

.form-product {
    margin-bottom: 0rem;
}

.error-color {
    color: red;
}

.image-size-admin {
    width: 187px;
    height: 187px;
}

.image-size-user {
    width: 267px;
    height: 270px;
}

.pointer {
    cursor: pointer;
}

.product-image-size {
    height: 245px;
}

.margin-search {
    margin-right: -32px;
}
